/node_modules
npm-debug.log
README.md
lerna cheet sheet.txt
.gitignore
.idea/
lerna-debug.log
packages/*/node_modules
packages/*/dest
packages/*/build
packages/client-cli/testdata
packages/demo/*/dest/
.env