.idea/
node_modules/
lerna-debug.log
packages/testing
packages/*/node_modules
packages/*/dest
packages/*/build
packages/client-cli/testdata
packages/demo/*/dest/
.env
packages/file-wire-server/public
packages/demo/rtcController/mp4box.all.min.js
packages/demo/rtcController/vpTesting.js
packages/demo/rtcController/index.html
